<div>
    <a href="/node/{{ sessionItga.agence.nid.value }}"><h2>{{ sessionItga.agence.label }}</h2></a>
    <div>
        {{ sessionItga.agence.field_adresse.value }}<br />
        {{ sessionItga.agence.field_code_postale.value }} {{ sessionItga.agence.field_ville.value }}<br />
        {{ sessionItga.agence.field_tel.value }}<br />
        {{ sessionItga.agence.field_email.value }}<br />
    </div>
</div>